{% extends 'basic.html' %}
{% block css %}
.root{
width:100%;
height:100vh;
background:white;
justify-content: center;
display:flex;
align-items: center;
}
.subdiv{

width:50%;
height: 75%;

padding: 15px;
border-radius: 10px;
color:black;
}
{% endblock %}
{% block body %}

<div class="root">
    <div class="subdiv">
        <h4 style="text-align:center;">Registration Form</h4>
        <hr>
        <form action="/registerinsert" method="post" enctype="multipart/form-data">{% csrf_token %}
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="FirstName"></label>
                    <input type="text" class="form-control" name="FirstName" id="FirstName" placeholder="First Name">
                </div>
                <div class="form-group col-md-6">
                    <label for="LastName"></label>
                    <input type="text" class="form-control" name="LastName" id="LastName" placeholder="Last Name">
                </div>
            </div>
            <div class="row" style="margin-top: 10px">
                <div class="col-6">
                    <div class="gender">
                        <select class="form-select mb-4" name="Gender">
                            <option selected>Gender</option>
                            <option value="Male">Male</option>
                            <option value="Female">Female</option>
                            <option value="other">Other</option>
                        </select>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-outline form-white">
                        <input type="text" name="mobileNo" id="mobileNo"
                               class="form-control form-control-lg"/>
                        <label class="form-label" for="mobileNo"></label>
                    </div>
                </div>

            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="email"></label>
                    <input type="email" class="form-control" name="email" id="email" placeholder="Email">
                </div>
                <div class="form-group col-md-6">
                    <label for="password"></label>
                    <input type="password" class="form-control" name="password" id="password" placeholder="Password">
                </div>
            </div>
            <div class="form-group">
                <label for="address"></label>
                <input type="text" class="form-control" name="address" id="address" placeholder="1234 Main St">
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="city"></label>
                    <input type="text" class="form-control" name="city" id="city" placeholder="city">
                </div>
                <div class="form-group col-md-6">
                    <label for="state"></label>
                    <input type="text" class="form-control" name="state" id="state" placeholder="state">
                </div>
            </div>
            <div class="row" style="margin-top: 8px">
                <div class="col-4">
                    <button type="Submit" style="width: 100%" class="btn btn-dark btn-lg" data-mdb-ripple-color="dark">
                        Register
                    </button>
                </div>
            </div>
            <div class="row" style="margin-top: 4px">
                <div style="color: white; font-size: 24px;" class="col-12">
                    {{msg}}
                </div>
            </div>
        </form>
    </div>
</div>


{% endblock %}